$sidenav_background:#393e46;
$sidenav_font_color:#eeeeee;
$light_blue:#00adb5;
#books_tab{
    position: relative;
    height: 100vh;
}
#searchBtn{
    background-color: $light_blue;
    color: white;
}
#searchBtn:hover{
    background-color: #ffffff;
    color: $light_blue;
}
@mixin filter_btn($bg_color,$color) {
    background-color: $bg_color;
    font-weight: bold;
    color:$color;
}
#filter_apply_btn{
    @include filter_btn($light_blue,#ffffff);
    border: none;
}
#list_all_btn{
    @include filter_btn($light_blue,#ffffff);
    border: none;
}
#filter_apply_btn:hover{
    @include filter_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#list_all_btn:hover{
    @include filter_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#list_by{
    font-size: 1.25em;
}
#search_box_label{
    font-size: 1.25em;
    margin-top: 2%;
    @media screen and (max-width:1199px) {
        margin-top: 5%;
    }
}
#filter_apply_box{
    @media screen and (max-width:1199px) {
        margin-bottom: 4%;
    }
}
#add_book_btn{
    font-size: 2.5em;
    @include filter_btn($light_blue,#ffffff );
    border:none;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    @media screen and (max-width:1199px){
        bottom: 5vh;
        right: 5vh;
    }
}
#add_book_btn:hover{
    background-color: #ffffff;
    border: 0.001em solid $light_blue;
    color:$light_blue;
}
#new_book_page{
    display: none;
    padding-top: 4vh;
}
#add_new_book_form button{
    @include filter_btn($light_blue,#ffffff);
    border: none;
}
#add_new_book_form button:hover{
    @include filter_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#result_table{
    overflow-y: auto;
    height: 50vh;
    @media screen and (max-width:1199px) {
        height: 40vh;
    }
}
#new_book_submit:hover{
    @include filter_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#new_book_submit{
    margin-top: 1%;
    @include filter_btn($light_blue,#ffffff);
    border: none;
}