$sidenav_background:#393e46;
$sidenav_font_color:#eeeeee;
$light_blue:#00adb5;
#searchBtn{
    background-color: $light_blue;
    color: white;
}
#searchBtn:hover{
    background-color: #ffffff;
    color: $light_blue;
}
@mixin filter_btn($bg_color,$color) {
    background-color: $bg_color;
    font-weight: bold;
    color:$color;
}
#filter_apply_btn{
    @include filter_btn($light_blue,#ffffff);
    border: none;
}
#list_all_btn{
    @include filter_btn($light_blue,#ffffff);
    border: none;
}
#filter_apply_btn:hover{
    @include filter_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#list_all_btn:hover{
    @include filter_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#list_by{
    font-size: 1.25em;
}
#search_box_label{
    font-size: 1.25em;
    margin-top: 4%;
}
#filter_apply_box{
    @media screen and (max-width:1199px) {
        margin-bottom: 4%;
    }
}
