$sidenav_background:#393e46;
$sidenav_font_color:#eeeeee;
$light_blue:#00adb5;
#profile_tab{
    padding-top: 4vh;
}
@mixin profile_btn($bg_color,$color) {
    background-color: $bg_color;
    font-weight: bold;
    color:$color;
}
#profile_tab button{
    @include profile_btn($light_blue,#ffffff );
    border: none;
}
#profile_tab button:hover{
    @include profile_btn(#ffffff,$light_blue);
    border: 0.08em solid $light_blue;
}
#avatar_input_label{
    background-color: $light_blue;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1vh 1.4vh;
    border-radius: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#file_input_grp_profile{
    @media screen and (max-width:1199px) {
        margin-top:-10%; 
    }
}